name: PHP Insights(reviewdog)

on:
  pull_request:
    paths:
      - '**.php'
    types: [opened, synchronize, reopened]

jobs:
  php-insights:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write # Pull Requestへのコメントに必要
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'

      - name: Get Composer Cache Directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache Composer dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install Composer dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --prefer-dist

      - name: Run PHP Insights
        run: |
          php artisan insights -n --ansi --format=format=checkstyle > phpinsights.xml || true

      - name: Setup reviewdog
        uses: reviewdog/action-setup@v1

      - name: Report via reviewdog
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          reviewdog -f=checkstyle -name="PHP Insights" \
            -reporter=github-pr-review -filter-mode=diff_context \
            -fail-on-error=true < phpinsights.xml
